<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>mb-lsgopage</title>
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
    <link rel="canonical" href="https://www.baidu.com">
  </head>
  <body>
    <div id="app"></div>
    <script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
    <script src="https://www.mipengine.org/validator/static/js/index_11ea975.js"></script>
  </body>
</html>
